@import "./_mixins";

.flat-list-container {
    @include widthAndHeight(100%,100%);
    @include flex;
    flex-direction: column;
    gap: 1rem;
    .flat-list-header {
        width: calc(min(50rem, 100%));
        height: 3rem;
        @include flex(space-between,center);
        position: fixed;
        top: 0rem;
        z-index: 50;
        border-bottom: 1px solid gray;
        padding: 0.1rem 1rem 0.1rem 1rem;
        background: #121212d6;
        .flat-list-header-options{
            @include flex(flex-start,center);
            flex-direction: column;
            color: white;
            .flat-list-header-options-price{
                @include flex(flex-start,center);
                .price-number {
                    font-size: 0.9rem;
                    margin-right: 0.2rem;
                }
                .price-text {
                    font-size: 0.7rem;
                    opacity: 0.8;
                }
            }
            .flat-list-header-options-region{
                font-size: 0.7rem;
                opacity: 0.8;
            }
        }
        .flat-list-header-return {
            width: calc(min(8rem, 100%));
            height: 2rem;
            border-radius: 20px;
            background: rgba(255, 94, 0, 0.3);
            color: rgb(255, 119, 0);;
        }
    }
    .flat-list{
        @include widthAndHeight(100%,100%);
        padding: 0.5rem 0 2rem 0;
        gap: 1rem;
        margin-top: 3rem;
        .flat-list-card{
            width: 18rem;
            height: 30rem;
            @include grid(25% 65% 10%, 100%);
            border: 1px rgb(76, 76, 76) solid;
            border-radius: 7px;
            padding: 1.5rem 1rem 1.5rem 1rem;
            color: white;
            background: rgb(30, 30, 30);
            .flat-list-card-info{
                @include flex(flex-start,flex-start);
                flex-direction: column;
                border-bottom: 1px white solid;
                gap: 0.5rem;;
                .flat-list-card-info-apartment{
                    @include flex(flex-start,center);
                    gap: 0.5rem;
                    .apartment-name{
                        font-size: 0.7rem;
                        opacity: 0.8;
                    }
                    .apartment-district{
                        font-size: 0.7rem;
                        opacity: 0.8;
                        background-color: rgb(76, 76, 76);
                        border-radius: 20px;
                        padding: 0rem 0.5rem 0 0.5rem;
                    }
                }
                .flat-list-card-info-size{
                    @include flex(flex-start,center);
                }
                .flat-list-card-info-mort{
                    font-size: 0.7rem;
                    opacity: 0.8;
                }
                .flat-list-card-info-cost{
                    font-size: 0.7rem;
                    opacity: 0.8;
                }
            }
            .flat-list-card-image-container{
                @include flex;
                .flat-list-card-image{
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
            .flat-list-card-controls{
                @include flex;
                gap: 0.5rem;
                .flat-list-card-controls-flat-link{}
                .flat-list-card-controls-favourite{
                    width: calc(min(3rem, 100%));
                    font-size: 2rem;
                    cursor: pointer;
                }
            }
        }
    }
    .detailed-flat {
        @include widthAndHeight(100%,100%);
        @include flex;
        flex-direction: column;
        padding: 0.5rem 0 2rem 0;
        gap: 1rem;
        margin-top: 3rem;
        margin-bottom: 7rem;
        color: white;
        .detailed-flat-images{
            width: 100%;
            height: 30rem;
            padding: 1rem;
            .detailed-flat-image-container{
                @include flex;
                width: 18rem;
                height: 100%;
                border: 1px rgb(76, 76, 76) solid;
                border-radius: 7px;
                background: rgb(30, 30, 30);
                .detailed-flat-image{
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .detailed-flat-info{
            width: calc(min(30rem, 100%));
            display: grid;
            grid-auto-rows: 100%;
            gap: 0.5rem;
            .detailed-flat-info-size-container{
                @include flex(space-between,center);
                .detailed-flat-info-size{
                    @include flex(center,center);
                    font-size: 1.5rem;
                }
                .detailed-flat-info-size-favourite{
                    width: calc(min(3rem, 100%));
                    font-size: 2rem;
                    cursor: pointer;
                }
            }
            .detailed-flat-info-location{
                font-size: 0.8rem;
            }
            .detailed-flat-info-price{
                font-size: 0.8rem;
                color: grey;
            }
        }
        .detailed-flat-info-program{
            width: calc(min(30rem, 100%));
            display: grid;
            grid-auto-rows: 100%;
            .detailed-flat-info-program-type{
                border-bottom: 1px solid grey;
            }
            .detailed-flat-info-program-rate{
                border-bottom: 1px solid grey;
            }
            .detailed-flat-info-program-item{
                @include grid(100%, 10% 40% 50%);
                padding: 0.5rem;
                .detailed-flat-info-program-icon-container {
                    @include widthAndHeight(2rem,2rem);
                    @include flex;
                    background: rgba(255, 94, 0, 0.3);
                    color: rgb(255, 119, 0);;
                    border-radius: 50%;
                    .detailed-flat-info-program-icon{
                        font-size: 1.2rem;
                    }
                }
                .detailed-flat-info-program-description{
                    @include flex(flex-start,center);
                    font-size: 0.8rem;
                    padding-left: 0.5rem
                }
                .detailed-flat-info-program-value{
                    @include flex(flex-end,center);
                    font-size: 0.9rem;
                    color: grey;
                    .detailed-flat-info-program-value-select{
                        @include widthAndHeight(2.2rem,2.2rem);
                        @include flex;
                        border-radius: 50%;
                        background: rgb(255, 94, 0);
                        margin-left: 0.5rem;
                        cursor: pointer;
                        .detailed-flat-info-program-value-select-icon{
                            font-size: 1rem;
                            color: white;
                        }
                    }
                }
            }
        }
        .detailed-flat-info-link-container{
            width: calc(min(30rem, 100%));
            text-align: center;
            color: white;
            font-size: 0.7rem;
            .detailed-flat-info-link{
                display: inline;
                margin-left: 0.5rem;
                color: rgb(255, 119, 0);
            }
        }
        .detailed-flat-controls{
            width: calc(min(50rem, 100%));
            @include flex;
            flex-direction: column;
            position: fixed;
            bottom: 0rem;
            padding: 2rem 0 1rem 0;
            z-index: 1;
            gap: 0.5rem;
            background: #121212;
            background: linear-gradient(180deg, #1212126d 0%, #121212 70%, #121212 100%);
            box-shadow: 0px -4px 10px #1212126d;      
            .detailed-flat-controls-next{
                background: rgb(30, 30, 30);
            }
            .detailed-flat-controls-next:hover{
                color: white;
            }
        }
    }
}
