@import "./_mixins";

.title {
    @include widthAndHeight(100%,100%);
    @include flex;
    flex-direction: column;
    gap: 1rem;
    .title-icon-wrapper {
        @include flex;
        .title-icon{
            font-size: 3rem;
            color: rgb(255, 94, 0);
        }
    }
    .title-text-wrapper {
        @include flex;
        color: white;
        text-align: center;
        margin-bottom: 2rem;
    }
    .title-amount{
        .title-amount-icon{
            font-size: 1.5rem;
            color: white;
            justify-self: flex-end;
            margin-right: 5px;
        }
    }
    .title-button {
        margin-top: 10rem;
    }
}   